# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
.DS_Store

# Vite
*.log

# Google OAuth Secrets
backend/app/models/token.json
backend/app/models/credentials.json
backend/app/models/service_account.json
*.json.key
service_account*.json
